.wrap {
    width: 1320px;
    margin: 4% auto;
    box-sizing: border-box;

    @include breakpoint('xl', 'max') {
        width: 96%;
    }

    @include breakpoint('md', 'max') {
        width: 94%;
        margin: 6% auto;

    }
}

header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    box-sizing: border-box;
    background-image: $ll_dark;

    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: .53em 24px;
        box-sizing: border-box;


    }

    @include breakpoint('lg', 'max') {
        .wrap {
            width: 100%;
        }
    }

    @include breakpoint('md', 'max') {
        .wrap {
            padding: .6em 1em;
        }
    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        // margin-right: 2em;
        padding-left: 3em;

        a:hover {
            filter: brightness(1.2);
            // cursor: pointer !important;
        }

        @include breakpoint('md', 'max') {
            padding-left: 0;
        }
    }



    .logo {
        position: relative;
        z-index: 999;
        // width: 135px;
        height: 40px;
        padding-top: 0;
        // margin-right: 5%;

        img {
            display: block;
            // width: 100%;
            // height: auto;
            width: auto;
            height: 100%;
        }
    }

    #sidr {
        a {
            color: $white;
            display: block;
            // margin: 0 1.2em;
            // padding-top: .3em;
            padding: .5em 1em;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            box-sizing: border-box;
            @include tran(0.5s, ease);

            &:hover {
                color: $golden;
            }

            &.btn_start {
                position: relative;
                // width: 80%;
                // padding: 1em;
                color: $blue;
                margin-right: .5em;
                margin-left: .5em;
                padding: .5em 2.5em;
                background-color: $golden;
                border-radius: $b-60;
                white-space: nowrap;

                &::after {
                    position: absolute;
                    // top: -20%;
                    // left: -30%;
                    content: "";
                    width: 250%;
                    height: 50%;
                    background-color: rgba($white, 0.4);
                    transform: rotate(-30deg);
                    //   box-shadow:inset 0 0 2px rgba($white, .5);
                }

                &:hover {
                    &::after {
                        animation: lightMove .9s ease-out forwards;
                    }
                }
            }

            &.linkIcon {
                // width: 100%;
                text-align: center;
                margin-left: 0;

                img {
                    width: 35px;
                }

                // width: 100%;
                width: 30px;
                // margin: 0;
                padding: 0;
                margin-left: .8em;

                img {
                    width: 100%;
                }
            }

            @include breakpoint('md', 'max') {
                &.btn_start {
                    width: auto;
                }

                &.linkIcon {
                    width: 40px;
                    margin: auto;

                    img {
                        width: 100%;
                    }
                }
            }
        }


    }


    .logo_side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;

        @include breakpoint('md', 'max') {
            width: 100%;
            // padding-right: 10px;

            .logo {
                // width: 80px;
                height: 30px;
            }
        }
    }



}

main {
    position: relative;
    z-index: 2;
    // margin-bottom: 180px;
    padding-top: 78px;



    @include breakpoint('md', 'max') {
        // padding-top: 4.8vw;

        padding-top: 47px;
        // margin-bottom: 260px;
    }

}

//section--op
section {


    h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 44px;
        font-weight: 600;
        color: $blue;
        text-align: center;

        &::before,
        &::after {
            bottom: -.5em;
            content: "";
            width: 2em;
            height: 5px;
            background-color: $golden;
            display: block;
            order: 2;
            margin-bottom: 6px;
        }

        &::before {
            margin-top: 2px;
        }

        &::after {
            width: 1em;
        }

        @include breakpoint('sm', 'max') {
            font-size: 32px;
        }
    }
}

.areaMainBN {
    z-index: 2;
    width: 100%;
    color: $white;
    background-color: $dark;

    @include breakpoint('sm', 'max') {
        min-height: 55%;

    }

    .wrap {
        width: 100%;
        margin: 0;

        &>img {
            width: 100%;
            display: block;
        }

    }

}

.areaAbout {
    width: 100%;
    height: 100%;
    padding: 2% 0;
    background: url(../img/about_bg.jpg) no-repeat center 0;
    background-size: cover;
    font-size: 100%;
    // background: $ll_blue;
    // overflow: hidden;

    .wrap {
        // width: 100%;
        margin: 0 auto;
        // padding: 0;
    }

    h1.gradient-text {
        text-align: center;
        font-size: 580%;
        font-weight: bold;
        line-height: 1;
        letter-spacing: -0.03em;
        // color: $ll_blue;
        background: $ll_blue;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include breakpoint('sm', 'max') {
            font-size: 430%;
        }

        @include breakpoint('xs', 'max') {
            font-size: 300%;
        }
    }

    .aboutInfo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
        margin-top: -1em;
        padding: 6% 5%;
        border-radius: $b-8;
        box-sizing: border-box;

        @include breakpoint('xl', 'max') {
            padding: 5% 0;
        }

        @include breakpoint('sm', 'max') {
            margin-top: -.8em;
        }

        @include breakpoint('xs', 'max') {
            margin-top: -.5em;
        }




        &>div {
            flex-grow: 1;
        }

        .ytSide {
            width: 50%;
            // width: fit-content;
            // padding: 0 40px;
            overflow: hidden;


            // TAB
            ul.tabs {
                display: flex;
                margin: 0;
                padding: 0;
                list-style: none;
                width: 100%;

                li {
                    float: left;
                    margin: 0;
                    cursor: pointer !important;
                    padding: 10px 0px;
                    font-size: 16px;
                    font-weight: 400;
                    color: $blueDarken;
                    font-weight: bold;
                    overflow: hidden;
                    position: relative;
                    margin-right: .5em;
                }

                @include breakpoint('xs', 'max') {
                    justify-content: center;

                    li {
                        // width: 50%;
                        flex-grow: 1;
                        text-align: center;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            ul.tabs li {
                padding: .5em 1.5em;
                font-size: 22px;
                background-color: rgba(#E4EFF4, 0.8);
                border-bottom: 0;
                border-radius: $b-8 $b-8 0 0;
                opacity: .8;
                @include tran(0.4s, ease);

                &:hover {
                    color: $blue;
                    opacity: 1;
                }

                &.active {
                    color: $blueBg;
                    background-color: $dark;
                    display: block;
                    //   padding-left: 30px;
                    opacity: 1;
                }

                @include breakpoint('xl', 'max') {
                    font-size: 20px;

                    // margin-right: 10px;
                }

                @include breakpoint('sm', 'max') {
                    // margin-right: .5em;
                    padding: .5em 1em;

                    font-size: 16px;
                }

                @include breakpoint('xs', 'max') {
                    padding: .5em 1em;
                    font-size: 15px;
                }
            }

            .tab_container {
                clear: both;
                float: left;
                width: 100%;
                background-color: #121212;
                overflow: hidden;
            }

            .tab_content {
                display: none;
                border-radius: 0 0 0 $b-8;
                overflow: hidden;
                background-color: #121212;

                iframe {
                    width: 100%;
                    height: 26em;
                }
            }

            .tab_drawer_heading {
                display: none;
            }

        }

        .textSide {
            background-color: rgba($color: $blue, $alpha: .26);
            width: auto;
            max-width: 28em;
            height: 26.5em;
            margin-top: 3.55em;
            padding: 1em 2em;
            font-size: 16px;
            font-weight: 400;
            padding: 1em;
            padding-left: 3.5em;
            padding-right: .5em;
            font-size: 16px;
            color: $bg_grey;
            display: inline-block;
            border-radius: 0 $b-8 $b-8 0;
            box-sizing: border-box;



            article {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                overflow-y: auto;
                padding-right: 1em;
                box-sizing: border-box;

                &::-webkit-scrollbar {
                    width: 8px; // 設定滾動條寬度
                }

                &::-webkit-scrollbar-track {
                    background: transparent; // 軌道設為透明
                }

                &::-webkit-scrollbar-thumb {
                    background: rgba($color: $white, $alpha: 0.5); // 滑塊顏色
                    border-radius: 4px; // 圓角滑塊

                    &:hover {
                        background: $white; // 滑塊顏色
                    }
                }

                p {
                    width: 100%;
                    height: auto;
                    display: inline-block;
                    // padding-right: 1em;
                    box-sizing: border-box;

                    a {
                        // color: lighten($color: $blue, $amount: 50%);
                        color: $white;
                        font-weight: 700;
                        @include tran(0.4s, ease);

                        &:hover {
                            color: $blueLighten;
                        }
                    }
                }

                ul {
                    // list-style: circle;

                    li {
                        margin-left: 1em;
                        list-style-type: disc;
                    }
                }

                ol {
                    li {
                        margin-left: 1em;
                        list-style-type: auto;
                    }
                }
            }
        }


        @include breakpoint('xl', 'max') {
            // .ytSide {
            //     width: 65%;
            // }

            .textSide {
                height: 26.5em;
                margin-top: 3.25em;
                padding: 1em .5em 1em 2em;
                font-size: 16px;
            }
        }

        @include breakpoint('md', 'max') {
            flex-direction: column;

            // width: 90%;

            &>div {
                width: 100%;
            }

            .ytSide {
                width: 100%;

                .tab_content {

                    border-radius: 0 $b-8 0 0;

                    iframe {
                        width: 100%;
                        height: 60vw;
                    }
                }
            }

            .textSide {
                max-width: 100%;
                height: auto;
                margin-left: 0;
                margin-top: -2em;
                padding-top: 4em;

                border-radius: 0 0 $b-8 $b-8;
            }
        }

        @include breakpoint('sm', 'max') {
            .ytSide {
                width: 100%;

                .tab_content iframe {
                    width: 100%;
                    height: 48vw;
                }
            }

            .textSide {
                article {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

}

.areaSpeaker {
    background: $ll_grey;

    .wrap {
        // width: 1200px;
        margin: 0 auto;
        padding: 6% 0;

        @include breakpoint('xl', 'max') {
            width: 100%;
            margin: 0;
            padding: 6% 60px;
        }

        @include breakpoint('md', 'max') {
            padding: 8% 12px;
        }
    }

    .tagTitle {
        h2 {
            margin-left: 0;
            margin-bottom: 52px;

            @include breakpoint('md', 'max') {
                margin-bottom: 35px;
            }
        }
    }

    .slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 20px;

        .swiper-wrapper {
            height: fit-content;

            .item {
                width: auto;

                a.card {
                    display: block;
                    padding: 2em 0;
                    text-decoration: none;

                    figure {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        padding: 0 5px;

                        .card_pic {
                            width: 75%;
                        }
                    }

                    figcaption>span {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }

                    .card_name {
                        font-size: 1.3rem;
                        font-weight: 600;
                        color: $blue;
                        margin-top: 0.5em;
                    }

                    .card_company {
                        font-size: 1rem;
                        font-weight: 500;
                        color: $grey900;
                    }

                    .card_job {
                        font-size: .9rem;
                        font-weight: 400;
                        color: $grey800;
                        line-height: 1.2;
                    }
                }
            }
        }

        .product-slider {
            overflow: hidden;
            width: 75%;

            /* 可依需求調整 */

        }

        .slider-button-prev,
        .slider-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 24px;
            // background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 10px;
            border-radius: 50%;
            z-index: 10;

        }

        .slider-button-prev {
            left: 10px;
            /* 可依需求調整 */
        }

        .slider-button-next {
            right: 10px;
            /* 可依需求調整 */
            transform: translateY(-50%) scaleX(-1);
            /* 右按鈕鏡射 */
        }

        .slider-button-prev[aria-disabled="true"],
        .slider-button-next[aria-disabled="true"] {
            opacity: 0.5;
            // pointer-events: none;
            /* 禁用點擊 */
            filter: grayscale(100%);
            /* 變成灰色 */
        }

        @include breakpoint('lg', 'max') {
            .slider-button-prev {
                left: 0;
            }

            .slider-button-next {
                right: 0;
            }
        }

        @include breakpoint('md', 'max') {

            .product-slider {
                width: 100%;
            }

            .slider-button-prev,
            .slider-button-next {
                display: none;
            }
        }


    }

    .openSpeaker {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 40px;
        animation: moveDown .7s ease-out forwards;

        .swiper-wrapper {
            overflow: inherit;
            flex-wrap: wrap;

            .item {
                width: 20% !important;
                padding: 0 10px;
                box-sizing: border-box;

                a.card {
                    display: block;
                    padding: 0;
                    margin-bottom: 2rem;
                }

                @include breakpoint('lg', 'max') {
                    width: 25% !important;

                }

                @include breakpoint('md', 'max') {
                    width: 33.33333% !important;
                }

                @include breakpoint('sm', 'max') {
                    width: 100% !important;
                    padding: 0;

                    a.card {
                        max-width: 100%;
                        display: flex;
                        align-items: center;

                        figure {
                            width: 30%;
                            padding: 0;

                            .card_pic {
                                width: 100%;
                            }
                        }

                        figcaption {
                            width: 70%;
                            border: 1px solid transparent;

                            span {
                                text-align: left;
                                margin-left: 1rem;

                                &.card_name {
                                    margin: 0 0 0 1rem;
                                }
                            }
                        }
                    }
                }
            }

        }

        .slider-button-prev,
        .slider-button-next {
            display: none;
        }

        @include breakpoint('md', 'max') {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }

    .btn_start {
        width: 9em;
        padding: .5em .85em;
        margin: 2.5em auto 0 auto;
        font-size: 20px;

        @include breakpoint('lg', 'max') {
            margin-top: .8em;
        }

        @include breakpoint('md', 'max') {
            font-size: 16px;
        }

        &.showSlider {
            span {
                transform: rotate(180deg);
            }
        }
    }


    //拿掉swiper效果
    .speakerList {
        // margin-top: 40%;

        &.sliderHide {

            .slider-button-prev,
            .slider-button-next {
                display: none !important;
            }
        }


    }

}

.areaAganda {
    position: relative;
    // background: url(../img/aganda_bg.jpg) no-repeat center 0;
    // background-size: cover;
    background-color: #19204c;

    .bg_top {
        background: url(../img/bg_top.png) no-repeat center top;
        background-size: 100% auto;
    }

    .bg_bt {
        padding: 2% 0;
        // padding-bottom: 6%;
        background: url(../img/bg_bt.png) no-repeat center bottom;
        background-size: 100% auto;
    }

    .wrap {
        // position: relative;
        // margin-top: -50%;
        // margin-bottom: 6%;
        // width: 100%;
        // padding-bottom: 60px;

        // position: absolute;
        // top: 0;
        // overflow: hidden;

        // min-height: 800px;
        // height: 100%;
        // @include breakpoint('xl', 'max') {
        //     margin-top: -71%;
        // }

        @include breakpoint('md', 'max') {
            width: 94%;
        }

        h2 {
            color: $white;
        }

        small {
            width: 100%;
            display: block;
            margin: 2em 0;
            font-weight: 400;
            text-align: center;
            color: $greyLine;
        }

        // TAB
        ul.tabs {
            position: sticky;
            top: 78px;
            z-index: 99999;
            display: flex;

            width: 100%;
            margin: 0;
            // margin-top: 200px;
            padding: 0;
            list-style: none;
            background: $goldLighten;
            // border: 1px solid $goldLighten;

            @include breakpoint('md', 'max') {
                top: 47px;
            }

            li {
                width: 50%;
                height: 6.5em;
                margin: 0;
                // padding: .5em 1em;
                font-weight: 400;
                overflow: hidden;
                position: relative;
                // margin-right: 20px;
                box-sizing: border-box;
                cursor: pointer !important;

                @include breakpoint('md', 'max') {
                    height: 5.2em;
                }

                &>div {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    border: 3px solid transparent;
                    // height: 6.5em;
                }

                h3 {
                    font-size: 54px;
                    color: $golden;
                    font-weight: 600;
                    @include tran(0.4s, ease);

                    b {
                        display: inline-block;
                        line-height: 1.5;
                    }

                    span {
                        font-size: 32px;
                        margin-left: .8em;
                    }

                    @include breakpoint('md', 'max') {
                        font-size: 34px;

                        span {
                            font-size: 22px;
                            margin-left: .5em;
                        }
                    }

                    @include breakpoint('sm', 'max') {
                        font-size: 30px;

                        span {
                            font-size: 22px;
                            margin-left: .5em;
                        }
                    }
                }

                &.day1 {

                    &>div {
                        justify-content: flex-end;
                        transform: skew(30deg);
                        // @include tran(0.5s, ease);
                    }

                    h3 {
                        padding-right: .1em;
                        text-align: right;
                        transform: skew(-30deg);
                    }

                    &.active {
                        display: flex;
                        justify-content: end;
                        // padding: 0;
                        border-left: 3px solid $golden;
                        border-bottom: 3px solid $golden;

                        &>div {
                            right: 29px;

                            @include breakpoint('md', 'max') {
                                right: 19px;

                            }
                        }

                        h3 {
                            padding-right: 40px;

                            @include breakpoint('md', 'max') {
                                padding-right: 30px;

                            }

                            @include breakpoint('xs', 'max') {
                                padding-right: 8vw;
                            }

                        }
                    }
                }

                &.day2 {

                    &>div {
                        transform: skew(-30deg);
                    }

                    h3 {
                        padding-left: .1em;
                        text-align: left;
                        transform: skew(30deg);
                    }

                    &.active {
                        display: flex;
                        justify-content: end;
                        padding: 0;
                        border-right: 3px solid $golden;
                        border-bottom: 3px solid $golden;

                        &>div {
                            left: 29px;

                            @include breakpoint('md', 'max') {
                                left: 19px;

                            }
                        }

                        h3 {
                            padding-left: 40px;

                            @include breakpoint('md', 'max') {
                                padding-left: 30px;
                            }

                            @include breakpoint('xs', 'max') {
                                padding-left: 8vw;
                            }
                        }
                    }
                }

                &:hover {
                    color: $bg_grey;

                    h3 {
                        filter: brightness(0.9);
                    }
                }

                &.active {
                    position: relative;
                    z-index: 5;
                    width: 55%;
                    display: block;

                    @include breakpoint('md', 'max') {
                        width: 60%;

                    }

                    @include breakpoint('sm', 'max') {
                        width: 68%;

                    }



                    //   padding-left: 30px;
                    &>div {
                        position: absolute;
                        width: calc(100% + 30px);
                        height: 100%;
                        background: $ll_golden;
                        border: 3px solid $golden;
                    }

                    h3 {
                        // height: 100%;
                        font-size: 64px;

                        // padding-top: .1em;
                        b {
                            background: $ll_blue_h3;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        // box-sizing: border-box;
                        @include breakpoint('md', 'max') {
                            font-size: 36px;
                            // padding-top: .13em;
                        }

                        @include breakpoint('sm', 'max') {
                            font-size: 30px;
                            // padding-top: .25em;
                        }
                    }

                    &:hover {
                        h3 {
                            filter: brightness(1);
                        }
                    }


                }


            }
        }

        // ul.tabs li {

        //     // border-radius: $b-8 $b-8 0 0;

        // }

        .tab_container {
            background-color: rgba($color: $white, $alpha: .95);
        }

        .tab_content {
            display: none;
            // border-radius: 0 0 0 $b-8;
            // overflow: hidden;
            background-color: rgba($color: $white, $alpha: .4);

            article {
                padding: 4% 0;

                &>ul {
                    &>li {
                        min-width: 70%;
                        max-width: 90%;

                    }
                }

                ul {
                    &>li {
                        width: 100%;
                        // min-width: 70%;
                        // max-width: 90%;
                        display: flex;
                        align-items: center;
                        margin: auto;
                        margin-top: .8rem;
                        padding: 1.2rem 0 .5rem 0;
                        border-top: 1px solid $greyLine;

                        // @include breakpoint('xl', 'max') {

                        //     width: 75%;
                        // }

                        .aganda_time {
                            width: 5em;
                            font-size: 24px;
                            font-weight: 600;
                            color: $grey900;
                        }

                        .aganda_in {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            width: 100%;

                            h5 {
                                display: block;
                                font-size: 24px;
                                font-weight: 600;
                                color: $grey900;
                            }

                            .card_pic {
                                width: 66px;
                                margin-right: 1em;
                            }

                            .card_txt {
                                display: flex;
                                flex-direction: column;
                                width: 100%;

                                b {
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: $grey900;
                                    line-height: 1.8;
                                }

                                span {
                                    color: $grey800;
                                    font-size: 15px;
                                    font-weight: 400;
                                    line-height: 1.2;
                                }
                            }

                            //座談會&致詞嘉賓
                            h6 {
                                color: $golden;
                                font-size: 20px;
                                font-weight: 600;
                                margin-bottom: .2em;
                            }

                            .a_talkList {
                                display: flex;
                                width: 100%;
                                margin-top: 1rem;

                                &>div {
                                    // width: 50%;
                                    flex-grow: 1;

                                    ul {
                                        margin-right: 1.5%;

                                        &>li {
                                            width: 100%;
                                            border: 0;
                                            margin-top: 0;
                                        }
                                    }
                                }

                                .a_host {
                                    margin-right: 1rem;
                                }

                                .a_guest {
                                    .guest_list {
                                        li {
                                            padding: 0.6rem 0;
                                        }
                                    }
                                }
                            }

                        }

                        &.a_topic {
                            // margin-top: .8rem;

                            .aganda_time {
                                opacity: 0;
                            }

                            .aganda_in {
                                display: block;

                                h5 {
                                    color: $blue;
                                }
                            }
                        }

                        &:first-child,
                        &.a_speaker {
                            border: 0;
                            margin-top: 0;
                            padding: .6rem 0;



                        }

                        &.a_speaker {
                            .aganda_in {
                                flex-direction: row;
                                align-items: center;
                            }
                        }

                        &.a_talk {
                            align-items: flex-start;
                            // margin-top: .8rem;

                            .aganda_time {
                                opacity: 1;
                            }

                            .aganda_in {
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: flex-start;
                                width: 100%;

                                h5 {
                                    color: $blue;
                                    display: block;
                                    // margin-bottom: .8rem;
                                }


                            }
                        }

                        @include breakpoint('md', 'max') {
                            width: 93%;

                            .aganda_time {
                                font-size: 20px;
                            }

                            .aganda_in {
                                h5 {
                                    font-size: 20px;
                                }

                                h6 {
                                    font-size: 18px;
                                }

                                .card_txt {
                                    b {
                                        font-size: 15px;
                                    }

                                    span {
                                        font-size: 12px;
                                    }
                                }


                            }

                            // &.a_speaker {
                            //     padding: .4rem 0;
                            // }

                            &.a_talk {
                                margin-top: .8rem;

                                .aganda_in {
                                    .a_talkList {
                                        flex-direction: column;

                                        &>div {
                                            width: 100%;
                                        }
                                    }

                                    .a_guest {
                                        margin-top: 1em;
                                    }
                                }
                            }


                        }

                        @include breakpoint('sm', 'max') {
                            width: 90%;

                            .aganda_time {
                                font-size: 18px;
                            }

                            .aganda_in {
                                h5 {
                                    font-size: 18px;
                                }

                                h6 {
                                    font-size: 16px;
                                }

                                .card_txt {
                                    b {
                                        font-size: 15px;
                                    }

                                    span {
                                        font-size: 13px;
                                    }
                                }


                            }
                        }
                    }
                }

                @include breakpoint('md', 'max') {
                    padding: 2rem 0;
                }
            }
        }

        .tab_drawer_heading {
            display: none;
        }

    }

}

.areaReport {
    // @include tran(0.2s, ease-out);
    border: 1px solid $white;
    padding-top: 20px;

    .wrap {
        margin-bottom: 1.5%;

        @include breakpoint('xl', 'max') {
            width: 100%;
            // margin: 0;
        }

        // @include breakpoint('md', 'max'){
        //     margin-bottom: 2%;
        // }
        // @include breakpoint('md', 'max'){
        //     margin-bottom: 2%;
        // }
    }

    h2 {
        text-align: center;
    }

    ul.reportList {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 40px);
        margin-top: 60px;
        margin-left: -20px;
        margin-right: -20px;

        @include breakpoint('xl', 'max') {
            width: calc(96% + 30px);
            margin-left: auto;
            margin-right: auto;

        }

        @include breakpoint('md', 'max') {
            width: calc(94% + 20px);

        }

        @include breakpoint('sm', 'max') {
            margin-top: 40px;
        }

        li {
            position: relative;
            z-index: 1;
            width: 33.33333%;
            padding: 0 20px;
            // margin-bottom: 20px;
            box-sizing: border-box;

            @include breakpoint('md', 'max') {

                padding: 0 10px;
            }

            @include breakpoint('xs', 'max') {
                padding: 0;
            }


            .card {

                // position: relative;
                justify-content: center;
                padding-left: 0;
                padding-right: 0;




                h5 {
                    font-size: 1.3rem;
                    font-weight: bold;
                    line-height: 2.5;
                    // margin-bottom: .5rem;
                    color: $primary;
                    @include text-ellipsis (100%, 1);
                }

                p {
                    // color: $gray-700;
                    font-size: 15px;
                    @include text-ellipsis (100%, 3);
                    font-weight: 300;
                    margin-bottom: .7rem;
                }

                b.more {
                    color: $golden;
                    transform: translateY(0);
                    opacity: 0;
                    // opacity: 1;
                    font-weight: 600;
                    font-size: 14px;
                    @include tran(0.2s, ease-out);

                    img {
                        height: 1.8em;
                        line-height: .5;
                        margin-left: 5px;
                        vertical-align: top;
                        transform: scaleX(-1);
                        display: inline-block;
                    }

                    @include breakpoint('md', 'max') {
                        opacity: 1;

                        img {
                            height: 1.5em;
                        }
                    }

                }

                .card-body {
                    border-top: 1px solid $white;
                }

                .card_img {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 12rem;
                    overflow: hidden;
                    border-bottom: 3px solid $goldLighten;



                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    @include tran(0.2s, ease-out);

                }

                a {
                    width: 100%;
                    height: 25rem;
                    text-decoration: none;
                    @include tran(0.2s, ease-in-out);

                    @include breakpoint('md', 'max') {
                        height: 25rem;
                    }

                    @include breakpoint('sm', 'max') {
                        height: 390px;
                    }

                    @include breakpoint('xs', 'max') {
                        height: 360px;
                    }

                    @include breakpoint('lg', 'min') {
                        &:hover {
                            .card_img {
                                height: 9.5rem;
                                // transition: opacity 0.3s ease;
                                filter: brightness(.8);

                            }

                            .more {
                                transform: translateY(100%);
                                opacity: 1;

                            }

                        }
                    }



                }
            }

            // @include breakpoint('lg', 'max') {
            //     width: 50%;
            // }

            @include breakpoint('md', 'max') {
                width: 50%;
            }

            @include breakpoint('xs', 'max') {
                width: 100%;
                margin-bottom: 30px;
            }

            a {
                display: block;
                width: 100%;

                img {
                    max-width: 100%;
                }
            }

            h4 {
                display: flex;
                align-items: center;
                margin-top: 2em;
                margin-bottom: 1em;


            }

            p {
                color: $logo_grey;
            }

            span {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 12px;
                font-size: 96px;
                line-height: 1;
                font-weight: bold;
                color: $light_grey4;
            }
        }
    }



    @include breakpoint('sm', 'max') {
        border-radius: $b-36;

        // .stickyEffect {
        //     margin-top: 25vw;
        // }

        .wrap {
            padding: 10px 12px;

        }
    }

}

.areaPartner {
    background-color: $bg_grey;
    border: 1px solid $bg_grey;

    .warp {
        padding-top: 2.5rem;

        @include breakpoint('xl', 'max') {
            width: 96%;
            // margin: 0;
        }

        @include breakpoint('md', 'max') {
            width: 94%;
            // margin: 0;
        }
    }

    .logoBox {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $greyLine;
        margin-bottom: 2.5rem;
        padding-bottom: 2.5rem;

        &:last-child {
            border: 0;
        }

        h3 {
            display: block;
            width: 100%;
            line-height: 2;
            font-size: 24px;
            font-weight: 600;
            color: $grey900;
        }

        p {
            display: flex;
            flex-wrap: wrap;
        }

        a {
            height: 4rem;
            // display: inline-block;
            margin-right: 12px;

            &>img {
                height: 90%;
                filter: grayscale(100%);
                mix-blend-mode: multiply;
                opacity: .5;
                margin-top: 0;
                transform-origin: bottom; // 設定變形的基準點
                @include tran(0.3s, ease-out);
            }

            &:hover {
                &>img {
                    // height: 100%;
                    filter: grayscale(0) contrast(1.2);
                    opacity: 1;
                    margin-top: -2px;
                    transform-origin: bottom; // 讓變形不影響上方
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: nowrap;

            li {
                position: relative;
                height: 2.5rem;
                // margin-bottom: 80px;

                a {
                    height: 100%;

                    &>img {
                        height: 100%;
                        margin: 0 1.5rem;

                        @include breakpoint('md', 'max') {
                            margin: 0 .8rem;
                        }
                    }
                }

                &:hover {
                    &>img {
                        // display: none;
                        opacity: 0.5;
                        animation: fadeOut 3s ease-out forwards;
                    }

                    b {
                        // display: block;
                        opacity: 1;
                        width: 100%;
                        animation: fadeIn 0.3s ease-out forwards;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }




    }

    @include breakpoint('md', 'max') {
        padding-top: 20px;

        .partnerList {
            margin: 30px 0 -25px 0;
            padding: 0 30px;

            li {
                width: 33.3333%;
                margin-bottom: 25px;
            }

        }


    }
}



/* 定義跑馬燈動畫 */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee_md {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* 設定跑馬燈容器的樣式 */
.marquee {
    // position: absolute;
    width: 100%;
    /* 設定容器寬度 */
    overflow: hidden;
    /* 隱藏超出的文字 */
    white-space: nowrap;
    /* 防止文字換行 */
    box-sizing: border-box;
}

/* 文字跑馬燈效果的樣式 */
.marquee {
    position: relative;
    display: flex;
    margin-top: 1em;
    padding: 5px;
    overflow: hidden; // 確保內容不溢出

    &::after,
    &::before {
        position: absolute;
        top: 0;
        z-index: 5;
        content: "";
        width: 40px;
        height: 100%;
        display: block;
        background-color: $bg_grey;
        filter: blur(5px);
    }

    &::before {
        left: -20px;
    }

    &::after {
        right: -20px;
    }

    &>ul {
        display: flex; // 使用 flexbox 讓 li 水平排列
        list-style: none; // 移除 li 的預設樣式
        padding: 0; // 移除 ul 的預設 padding
        margin: 0; // 移除 ul 的預設 margin
        animation: marquee var(--marquee-duration, 20s) linear infinite;
        white-space: nowrap; // 確保 li 不換行
        flex-shrink: 0; // 防止 ul 被壓縮

        &:nth-child(2) {
            margin-left: -2px;
        }
    }

    &>ul>li {
        flex-shrink: 0; // 防止 li 被壓縮
        background-color: $bg_grey;
        border: 2px solid $bg_grey;
    }

    &:hover {
        &>ul {
            animation-play-state: paused;
        }
    }

    @include breakpoint('sm', 'max') {
        &::before {
            left: -25px;
        }

        &::after {
            right: -25px;
        }
    }
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000000, 0.65);
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .popup_left {
        display: none;
    }

    .popup_wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bg_grey;
        // border-radius: 1rem;
        width: 800px;
        // max-width: 90%;
        max-height: 85vh;
        margin: 0 auto;
        box-sizing: border-box;

        .popup_close {
            position: absolute;
            top: 20px;
            right: 20px;

            @include breakpoint('md', 'max') {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .content {
            // height: 83%;
            display: flex;
            // flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 4rem 5rem;


            &.card {
                // display: flex;
                overflow-y: auto;
                text-decoration: none;

                figure {
                    width: 178px;
                }

                figcaption {
                    width: 70%;
                    margin-left: 2.3rem;

                    &>span,
                    &>p {
                        width: 100%;
                        display: block;
                        text-align: left;
                        margin-bottom: .25em;
                    }

                    &>p {
                        width: auto;
                        padding-top: 1em;
                        font-weight: 300;
                        line-height: 1.5;
                        text-align: justify;
                    }

                    .card_name {
                        font-size: 1.5rem;
                        font-weight: 600;
                        color: $blue;
                        // margin: .5em 0;
                    }

                    .card_company {
                        font-size: 1rem;
                        font-weight: 500;
                        color: $grey900;
                    }

                    .card_job {
                        font-size: .85rem;
                        font-weight: 400;
                        color: $grey800;
                    }
                }


            }

            @include breakpoint('sm', 'max') {

                padding: 40px 20px;
                flex-direction: column;
                align-items: center;

                &.card {

                    figure {
                        width: 150px;
                        margin-bottom: 1rem;
                    }

                    figcaption {
                        width: 100%;
                        margin-left: 0;

                        &>span {
                            text-align: center;
                        }
                    }
                }


            }




        }

        .content .title {
            font-size: 22px;
            margin: 1rem 0;
            color: $dark;
        }

        .content .notice {
            font-size: 18px;
            padding: 0 1rem;
            color: $logo_grey;
        }


    }

}






footer {
    // position: fixed;// bottom: 0;
    // z-index: 1;
    width: 100%;
    background-color: #282F3E;
    padding: 34px 0;
    box-sizing: border-box;

    i {
        width: 100%;
        text-align: center;
        display: block;
        padding-bottom: 34px;
    }

    @include breakpoint('xl', 'max') {
        padding: 34px 2%;
    }

    @include breakpoint('md', 'max') {
        padding: 30px 10px;

        i {
            padding-bottom: 32px;
        }
    }

    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: 1200px;
        margin: 0 auto;

        &>div {
            display: flex;
            flex-direction: column;
            color: $white;

            // margin: 0 2em;
            // text-align: center;
            &>span {
                width: 100%;
                display: block;
            }

            &.foot_md,
            &.foot_right {
                display: flex;

                justify-content: center;

                &:before {
                    position: absolute;
                    margin-left: -1.5rem;
                    content: "";
                    width: 4px;
                    height: 3rem;
                    background-color: $golden;
                }
            }

            &.logo {
                width: 118px;
            }

            &.foot_md {
                font-size: 14px;
                font-weight: 700;
            }

            &.foot_right {
                font-size: 12px;


                .copyright {
                    font-size: 10px;
                }
            }
        }

        @include breakpoint('xl', 'max') {
            width: 100%;
        }

        @include breakpoint('md', 'max') {
            text-align: center;
            justify-content: center;
            flex-direction: column;

            &>div {
                width: 100%;
                margin: 0;

                a {
                    display: block;
                    line-height: 2;
                    color: $white;
                }

                &.logo {
                    width: 100px;
                    margin-bottom: 1rem;
                }

                &.foot_md {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1.5;
                    margin-bottom: 1.5em;
                }

                &.copyright {
                    order: 3;
                    border-top: 1px solid $dark-lighten;
                    margin-top: 23px;
                    padding: 11px 0;
                    font-size: 12px;
                    // margin-bottom: 2em;
                }
            }
        }
    }



}