//color
:root {
  --primary: #8FB0DC;
  --second: #EFEFEF;
  --error: #DC8F8F;
  --bg-image: url('');
  --bg-image-mobile: url('');
}

$blue:#21229D;
$blueDarken:#234C98;
$blueLighten:#8ddbfe;
$blueBg:#E4EFF4;
$golden:#CB9366;
$goldLighten:#E3C7A2;
$dark:#000027;
$grey900:#3E3E3E;
$grey800:#727171;
$grey100:#D6D6D6;
$greyLine:#D7D5D5;



$primary:$blue; //--primary
$second:$golden; //--second

$white: #fff;
$error: #DC8F8F;
$bg_grey:#F9F9FC;
$logo_grey:#727171;
$text_grey2:#A5A5A5;
$light_grey3:#D6D6D6;
$light_grey4: #EFEFEF;
$dark-lighten:#252424;

// $ll_blue:linear-gradient(135deg, #2A55AD 0%, #1464CD 60%, #1946AF 100%);
$ll_blue_h3:linear-gradient(145deg, #1a459c 0%, #1564cd 50%, #0b38a1 100%);
$ll_blue:linear-gradient(145deg, #2457BD 0%, #1975ED 50%, #1949BA 100%);
$ll_dark:linear-gradient(90deg, #1B1E27 0%, #08266C 60%, #07256B 87%, #212F50 100%);
$ll_golden:linear-gradient(135deg, #B46A2F 0%, #F1B754 50%, #D98C33 100%);
$ll_gold_hover:linear-gradient(135deg, #B46A2F 0%, #F1B754 30%, #D98C33 100%);
$ll_grey:linear-gradient(180deg, #F9F9FC 0%, #FFFFFF 40%, #e3e3e6 100%);
$ll_mask:linear-gradient(90deg, rgba($bg_grey, 0) 0%, rgba($bg_grey, 1) 96%);


//size
$tab_v: 30;

//path
$img-path: '../img/';

//border-radius
$b-60:60px;
$b-36:36px;
$b-24:24px;
$b-12:12px;
$b-8:8px;



/* 定義淡入動畫 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* 定義淡出動畫 */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* 定義淡出陰影 */
@keyframes fadeShadow {
  from {
    box-shadow: 0 0 0 rgba($dark, 0);
    opacity: .3;
    filter: brightness(1);
  }

  to {
    box-shadow: 0 0 10px rgba($dark, .25);
    opacity: 1;
    filter: brightness(1.2);
  }
}

/* 定義淡出陰影 */
@keyframes lightMove {

  0%,
  100% {
    opacity: 0;
    top: -100%;
    left: -120%;
  }

  30% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    top: 120%;
    left: 50%;
  }
}


/* 定義從上往下 */
@keyframes moveDown {
  0% {
    top: -20px;
    // transform: scaleY(0); 
    // transform-origin: top; 
    opacity: 0;
  }

  100% {
    top: 10px;
    // transform: scaleY(1); /* 展開 */
    opacity: 1;
    /* 顯示 */
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-180deg);
  }
}

.rotate {
  img {
    // border: 1px solid #f00;
    animation: rotate 0.3s forwards;
  }
}

@keyframes downdown {
  0% {
    transform: translateY(-1px);
  }

  70% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(-1px);
  }
}