@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* eslint-disable */
:root {
    --bg-color-start: rgba(76, 88, 168, 0.8);
    --bg-color-end: rgba(211, 225, 225, 0.8);
    --bg-angle: 0deg;
}

// .loader {
//     width: 48px;
//     height: 48px;
//     border-radius: 50%;
//     display: inline-block;
//     border-top: 3px solid #FFF;
//     border-right: 3px solid transparent;
//     box-sizing: border-box;
//     animation: rotation 1s linear infinite;
// }

// @keyframes rotation {
//     0% {
//         transform: rotate(0deg);
//     }

//     100% {
//         transform: rotate(360deg);
//     }
// }

html,
body {
    height: 100%;
    /*外層高度100%*/
    margin: 0;
    // background-color: #40829E;
    // background-color: var(--bg-color);


}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    // background: $gray-100;
    @include tran(.3s, ease-in-out);

    // border: 3px solid #f00;


    // &.indexBG {
    //     background-image: url('../img/bg.jpg');
    //     background-size: 100% 100%;
    // }
}

.wrap {
    flex-grow: 1;
}

#goTopMenu {
    // display: none;
    position: fixed;
    right: 25px;
    // z-index: 999;
    bottom: 10px;
    z-index: 2;
    // width: 25px;// height: 50px;
    border: 1px solid $text_color;
    @include border-radius(50px);

    @include media-breakpoint-down(sm) {
        right: 10px;
    }

    // mix-blend-mode: overlay;
    i,
    a {
        color: $text_color;
        display: block;
        margin-right: 0;
        text-align: center;
        animation: moveUpDown .2s infinite alternate;
        // border: 1px solid red;

        &:hover {
            text-decoration: none;
        }
    }

    i {
        font-size: 18px;


        u {}
    }
}

// .indexBG_bg {
//     position: fixed;
//     z-index: -1;
//     width: 100%;
//     height: 100%;
// }


.pageNav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    // width: 100vw;
    // padding: 0 .35rem;
    // margin-top: 5rem;
    margin-top: 0;
    margin-left: 0;
    height: 100vh;
    background-color: rgba($color: $gray-700, $alpha: 0.95);
    padding: 1em;
    width: 100%;
    padding: 0 3rem;

    .menuScroll {
        width: 90vw;
        position: relative;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;

        // border-bottom: 1px solid $green;
        &>ul {
            position: absolute;
        }
    }

    a {
        b {
            width: 100%;
            display: block;
            // text-align: center !important;
            // border: 1px solid #f00;
        }
    }

    // display: none;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // align-items: center;
        width: 100vw;
        height: 100vh;
        padding-top: 0;
        padding: 12% 10vw;

        @include media-breakpoint-down(sm) {
            padding: 35% 0;
        }
    }

    li a {
        width: 100%;
        // display: inline-block;
        text-align: left;
        color: #fff;
        font-weight: bold;
        text-decoration: none;

        i {
            position: relative;
            margin-right: .7em;
            font-size: 30px;


            &:after {
                position: absolute;
                content: "";
                width: 1.5em;
                height: 1px;
                border-bottom: 1px solid #fff;
                display: inline-block;
                margin-top: 1.8em;
                line-height: 0;
            }
        }

        b {
            display: none;
            opacity: 1 !important;
            display: inherit;
            margin-left: 1em;

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        span {
            font-size: 4vw;

            @include media-breakpoint-down(sm) {
                font-size: 6vw;
            }
        }

        i,
        span {
            width: auto;
            display: inline-block;
        }
    }

    // border-bottom: 1px solid #fff;
}

h1#mainTITLE {
    // position: relative;
    // top: 10vh;
    // z-index: 9;
    width: 100%;
    text-align: left;
    font-size: 28px;
    color: $text_color;
    margin-top: -.05em;
    padding-left: 1.5em;

    @include media-breakpoint-down(sm) {
        text-align: center;
        font-size: 18px;
        padding-left: 0;
    }

    span {
        font-size: 16px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    // &:after {
    //     content: "";
    //     width: 3em;
    //     height: 1px;
    //     border-bottom: 1px solid $white;
    //     display: block;
    //     margin-left: auto;
    //     margin-right: auto;
    //     margin-top: .5em;
    //     margin-bottom: 1.5em;
    // }
}

.indexBGALL {
    position: relative;
    z-index: 99;
    width: 100%;

    // height: 100vh;
    @include media-breakpoint-down(sm) {
        background: url('../img/bg_m.jpg')no-repeat center center;
        background-size: auto 100%;
        width: 100%;
        min-height: 100vh;
        // border: 1px solid #f00;
    }
}

.indexBg_move {
    display: block;
    height: auto;
    width: 100%;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-size .5s, background-position 0.5s;
    transition-timing-function: cubic-bezier(.28, 1.13, .73, .83);
    overflow: hidden;
    transition: background-position 0.2s ease,
        background-size 0.2s ease;

    @include media-breakpoint-down(md) {
        background-image: url('../img/bgm.jpg');
        background-size: 200%;
        opacity: .85;
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }


}


.indexBg_move_in {
    width: 100%;
    height: 100vh;
    // opacity: .7;

    .bg-layer {
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        // z-index: -1;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border: 3vw solid #ffffff;
        transition: background-image 3s ease-out;
        mix-blend-mode: hard-light;
        opacity: .55;
        box-sizing: border-box;
    }

}



.indexBG_m {
    display: none;

    @include media-breakpoint-down(sm) {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100vh;
        // border: 1px solid #f00;
        display: block;
        background-image: url('../img/bgm.jpg');
        background-position: center center;
        background-size: auto 150%;
    }
}

.navMain {

    // mix-blend-mode: overlay;

    ul {
        position: relative;
        z-index: 12;
        width: 100%;
        display: flex;
        justify-content: space-between;
        // flex-basis: 70%;
        text-align: center;

        @include media-breakpoint-down(sm) {
            // display: inline-block;
            text-align: left;
            padding-top: calc((100vh - 150px)/2);
        }
    }

    li {
        position: relative;
        // margin: 0;
        width: fit-content;
        padding: 5px 0;
        display: block;
        flex-grow: 1;

        // mix-blend-mode: inherit;
        // border: 1px solid #f00;


        a {
            // position: relative;
            z-index: 2;
            text-align: right;
            display: inline-block;
            color: $text_color;
            // width: 100%;
            // mix-blend-mode: overlay;
            // border: 1px solid #f00;
            @include tran(0.2s, ease);

            &.menu_pic {
                margin-left: 20px;
            }

            b,
            span {
                display: block;
                text-align: left;
                // min-width: 2em;
                font-size: 15px;
                font-weight: bold;
                white-space: nowrap;
                width: 100%;
                // border: 1px solid #f00;
                margin-top: -.5em;
                margin-left: 2em;
            }

            b {
                width: 100%;
                margin-top: -1.6em;
            }



            &:link {
                b {
                    opacity: 0;
                    font-weight: bold;

                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                z-index: -1;
                background: transparent;
                left: 51%;
                right: 51%;
                height: 1px;
                border-radius: 10px;
                // @include tran(0.2s,
                // ease);
            }



            &:hover {
                // color: $white;
                text-decoration: none;

                // mix-blend-mode: inherit;
                // i {
                //     @include tran(0.2s, ease);
                // }

                span {
                    opacity: 0;
                    text-align: center;
                    // @include animation (0, .1s, fadeOut, forwards, unset, 1);
                }

                b {
                    opacity: 1;
                    @include animation (0, .8s, fadeIn, forwards, unset, 1);
                }

                &:after {
                    left: 10%;
                    right: 10%;
                }



                @include media-breakpoint-down(md) {
                    span {
                        opacity: 1;
                    }
                }


            }

            .link_in {
                display: none;
                position: absolute;
                z-index: -1;
                top: 0;
                // top: 3vw;
                // // bottom: -1em;
                // left: 3vw;
                // width: calc(100% - 6vw);
                // height: calc(100% - 6vw);
                bottom: -10em;
                left: 0;
                width: 100%;
                height: 100%;
                // background-color: $black;
                // border: 5px solid #ffffff;
                // margin-left: -6em;
                border-radius: 50px;
                // box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: .2;
                    // filter: blur(10px);
                    // mix-blend-mode: overlay;
                }

                @include media-breakpoint-down(md) {}
            }

            &:hover .link_in {
                display: block;
                @include animation (0, .5s, fadeIn, forwards, unset, 1);
            }
        }




        &.menuTitle {
            span {
                font-size: 1rem;
                font-weight: bold;
                color: $green-darken;
            }
        }


        @include media-breakpoint-up(lg) {
            &:hover {

                .menu_in,
                &:after {
                    display: block;
                    @include animation (0, .3s, fadeIn, forwards, unset, 1);
                }
            }
        }

        @include media-breakpoint-down(md) {
            margin: 0 .4em;
        }
    }

    .btnClose {

        // display: none;
        @include media-breakpoint-down(sm) {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 9999;
            margin-top: 0;
            margin-right: 0;
            font-size: 24px;
        }
    }

    @include media-breakpoint-only(md) {
        .navMain_bg {
            .navMain_scroll {
                overflow: hidden;
            }
        }
    }

    &.indexNav {
        position: relative;
        top: 35%;
        // z-index: 99999;
        width: 100%;
        // height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid #f00;


        @include media-breakpoint-down(sm) {
            top: 0;
        }

        .indexTitle {
            width: 100%;
            height: 100%;
            position: absolute;
        }




        ul {
            // width: 1280px;
            margin: 0 auto 0 auto;
            // padding: 0 6%;
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;
            padding: 0 8%;

            // border: 1px solid #f00;
            @include media-breakpoint-down(lg) {
                width: 100%;
                // margin-top: 41vw;
                // border: 1px solid #f00;
            }

            @include media-breakpoint-down(md) {
                // display: inherit;
                // width: 100%;
                // margin-top: 54vh;

                li {
                    padding-left: 0;
                }
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
                min-height: 100vh;
                margin-top: 0;
                padding: 9vw;
                flex-direction: column;
                justify-content: space-between;
                font-weight: bold;
                box-sizing: border-box;
                // border: 4px solid #f00;

                li {
                    padding: 10px 0;
                }
            }
        }

        li {
            // flex-grow: 1;

            // margin: 20px;
            // padding-left: 1rem;

            i {
                width: 100%;
                text-align: left;
                font-size: 30px;
                font-weight: 100;
                line-height: 1.5;
                display: block;
                margin-left: 0;

                &:after {
                    position: relative;
                    content: "";
                    width: 20px;
                    height: 1px;
                    border-bottom: 1px solid #fff;
                    display: inline-block;
                    margin-top: 4px;
                    line-height: 0;
                }
            }




            &:nth-child(1)>a {
                color: $color_1;

                i:after {
                    border-bottom: 1px solid $color_1;
                }

                &:hover {
                    background-image: $color_1_gradient;
                }
            }

            &:nth-child(2)>a {
                color: $color_2;

                i:after {
                    border-bottom: 1px solid $color_2;
                }

                &:hover {
                    background-image: $color_2_gradient;
                }
            }

            &:nth-child(3)>a {
                color: $color_3;

                i:after {
                    border-bottom: 1px solid $color_3;
                }

                &:hover {
                    background-image: $color_3_gradient;
                }
            }

            &:nth-child(4)>a {
                color: $color_4;

                i:after {
                    border-bottom: 1px solid $color_4;
                }

                &:hover {
                    background-image: $color_4_gradient;
                }

            }

            &:nth-child(5)>a {
                color: $color_5;

                i:after {
                    border-bottom: 1px solid $color_5;

                }

                &:hover {
                    background-image: $color_5_gradient;
                }
            }

            &>a {
                position: relative;
                // padding: 0;
                border-radius: 50px;
                @include tran(.3s, ease);


                b>div {
                    float: right;
                    width: 1em;

                    img {
                        width: 1.5em;
                    }
                }



                .icon_arrow_down {
                    position: absolute;
                    top: 15%;
                    right: 1em;
                    width: 4em;
                    // height: 3em;
                    display: inline-block;
                    // border: 1px solid #ffffff;
                    // border-radius: 50px;
                    padding: .8em;
                    opacity: 0;

                    /* 綁定動畫 */
                    img {
                        width: 100%;
                        animation: moveUpDown .2s infinite alternate;
                    }
                }

                @keyframes moveUpDown {
                    0% {
                        transform: translateY(3px);
                        /* 初始位置 */
                    }

                    100% {
                        transform: translateY(0);
                        /* 最終位置 (向下移動 2px) */
                    }
                }

                &:hover {
                    color: $white;
                    padding: .5em 5em .5em 2em;
                    border: 1px solid #ffffff;

                    .icon_arrow_down {
                        opacity: 1;
                    }

                    i:after {
                        border-bottom: 1px solid $white;

                    }

                    i {
                        font-weight: 700;
                    }

                    b {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

h1.pageTIT {
    position: relative;
    height: 9.9vw;
    @include tran(.3s, ease);
    color: #000000;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    span {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        line-height: 1;
        text-transform: uppercase;
        font-size: 9.9vw;
        font-family: "Philosopher",
            sans-serif;

        mix-blend-mode: overlay;
        // opacity: .7;

    }

    i {
        font-size: 3vw;
        margin: .5em;
        display: inline-block;
    }

    @include media-breakpoint-down(sm) {
        position: absolute;
        width: 100%;
        height: 100%;
        // z-index: 10;
        // top: 80vw;// right: 30vw;
        // opacity: .6;
        // border: 1px solid red;


        span {
            width: 100%;
            top: 44vh;
            right: -36vw;
            transform: rotate(90deg);
            font-size: 12vh;
            // border: 1px solid red;
        }

        i {
            font-size: 5vw;
        }
    }
}



header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    // border-bottom: 1px solid $gray-400;
    // background: $white;
    // @include shadow(0, 5px);
    color: $text_color;

    .wrap {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        width: 100%; //header 主要寬度
        // padding: 0 3rem;
        border-bottom: 1px solid $white;
        border-bottom: 1px solid $line_color;

        @include media-breakpoint-down(lg) {
            // padding: 0 3rem;
        }

        @include media-breakpoint-down(sm) {
            padding: .7em;
        }

        &>a {
            color: $gray-900;
        }

        .logo_bg {
            flex-basis: 145px;

            @include media-breakpoint-down(lg) {
                flex-basis: 65px;
            }
        }

        a.logo {
            flex-grow: 1;
            width: 100%;
            // height: 100%;
            display: block;
            text-align: center;
            border-right: 1px solid $line_color;
            // padding: 1rem 2rem;
            font-size: 40px;
            font-weight: bold;
            // line-height: 0.95;

            font-family: "Philosopher", sans-serif;

            // padding-left: 1em;
            @include media-breakpoint-down(lg) {
                border-right: 0;
            }

            @include media-breakpoint-down(sm) {
                padding-left: .5rem;
            }

            span {
                width: 100%;
                display: block;
                // margin-top: .35rem;
                color: $text_color;
                font-size: 10px;
                white-space: nowrap;
                text-align: center;
                // padding: .5rem 0;
                border: 1px solid red;
            }

            &:hover {
                text-decoration: none;
            }
        }

        .navItems {
            display: flex;
            // justify-content: space-between;
            align-items: center;
            flex-grow: 1;
        }

        .btn_login {
            @include media-breakpoint-down(sm) {
                display: none;
                position: absolute;
                z-index: 9999;
                bottom: 0;
                margin-bottom: 20px;
                margin-left: 6vw;
            }
        }

        //index header
        @include media-breakpoint-down(sm) {
            width: 100%;
            position: relative;

            .logo_bg {
                position: fixed;
                top: 0;
                width: 100%;
                height: 60px;
                // background-color: $white;
                padding: 0 10px;
                // @include shadow(0,
                // 3px);
            }

            a.logo {
                max-width: 20vw;
                height: 99%;
                left: .5rem;
                text-align: left;
                display: block;
                border-right: 0;
                font-size: 28px;
                padding-left: 10px;
                color: $text_color !important;

                img {
                    height: 100%;
                }
            }

            .navItems {
                margin-left: 0;
            }
        }
    }

    .navMenuList {
        // display: none;
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        z-index: 9999;
        font-size: 1.5rem;
        cursor: pointer;

        @include media-breakpoint-down(lg) {
            top: 8px;
        }

        @include media-breakpoint-down(sm) {
            top: 4px;
        }
    }

    #forpadBTN {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 146px;
        height: 70px;
        margin-left: calc(50% - 146px);

        // border: 1px solid #f00;
        @include media-breakpoint-down(lg) {
            margin-top: 15px;
            margin-left: calc(50% - 111px);
        }

        @include media-breakpoint-down(md) {
            width: 111px;
            height: 50px;
            margin-left: calc(50% - 81px);
        }

        @include media-breakpoint-down(sm) {
            width: 0;
            height: 0;
        }
    }

    &.page04Header {
        .wrap {
            border-color: #cbb1c2;
        }

        a.logo,
        h1#mainTITLE {
            color: #9D6D8D;
        }

        .navMenuList {
            svg.fa-bars {
                color: #9D6D8D;
            }

            a {
                color: $text_color;
            }
        }

        a.logo {
            border-color: #cbb1c2;
        }
    }
}

section {
    padding: 2rem 0;

    @include media-breakpoint-down(sm) {
        padding-bottom: 3rem;
    }
}

section.infoArea {
    padding: 0;
    margin-bottom: 2rem;
    padding-bottom: 2rem;

    @include media-breakpoint-down(sm) {
        padding: 0 10px;
        padding-bottom: 2rem;
    }

    &.btInfo {
        background-color: $green-lighten;
        background-image: url('../img/bt_info_pc.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: auto 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        @include border-radius(8px);

        div {
            padding: 2.5% 4%;
            flex-basis: 50%;

            &:nth-child(2) {
                text-align: center;
            }
        }

        @include media-breakpoint-down(md) {
            background-position: -10px center;

            div {
                padding: 2.5% 3%;

                &:nth-child(1) {
                    font-size: 15px;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            background-image: none;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            margin: 0;

            div {
                width: 100%;
                padding: 5vw;
                @include border-radius(8px);

                &:nth-child(1) {
                    font-size: 13px;
                    background-image: url('../img/bt_info_m.png');
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: 105% auto;
                    padding-bottom: 20vw;
                }
            }
        }
    }
}

#indexTopBN {
    margin-top: 74px;
    height: 594px;
    background: url('../img/topBN.jpg')no-repeat center top;
    text-align: center;

    @include media-breakpoint-down(sm) {
        margin-top: 38px;
        height: 490px;
    }

    img {
        height: 100%;
    }

    .bnInfo {
        position: relative;
        width: 100%;
        padding-top: 90px;
        padding-bottom: 60px;
        color: $text_color;
        font-weight: bold;
        text-align: center;

        @include media-breakpoint-up(xl) {
            // padding-bottom: 0;
        }

        @include media-breakpoint-down(lg) {
            padding-top: 110px;
            // padding-bottom: 0;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 20vw;
        }

        &:before {
            position: absolute;
            left: 0;
            margin-top: 2rem;
            margin-left: calc(50% - 320px);
            content: "";
            width: 50px;
            height: 250px;
            border: 2px solid $white;
            border-right: 0;
            display: block;

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        &:after {
            position: absolute;
            top: 90px;
            right: 0;
            margin-top: 2rem;
            margin-right: calc(50% - 320px);
            content: "";
            width: 50px;
            height: 270px;
            border: 2px solid $white;
            border-left: 0;
            display: block;

            @include media-breakpoint-down(lg) {
                top: 110px;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        h1 {
            font-size: 36px;
            margin-bottom: 1rem;

            @include media-breakpoint-down(sm) {
                font-size: 28px;
            }
        }

        p {
            font-size: 18px;
            margin-bottom: .8rem;

            @include media-breakpoint-down(sm) {
                padding: 0 5px;
                font-size: 14px;
                line-height: 1;
            }
        }

        .btn {
            background-color: rgba($color: $white, $alpha: 0.9);
            font-size: 18px;
            font-weight: bold;
            color: $secondary;
            margin-top: 2rem;
            padding: 0.375rem 2rem;
        }
    }

    &.topBN {
        margin-top: 70px;
        padding: 0;
        height: 210px;

        @include media-breakpoint-down(lg) {
            margin-top: 96px;
        }

        @include media-breakpoint-down(md) {
            margin-top: 76px;
        }

        &.application_top {
            background: url('../img/title_bg1.jpg')no-repeat center top;
        }

        &.infor_top {
            background: url('../img/title_bg2.jpg')no-repeat center top;
        }

        &.users_top {
            background: url('../img/title_bg3.jpg')no-repeat center top;
        }

        @include media-breakpoint-down(sm) {
            height: 120px;
            margin-top: 16vw;

            &.application_top {
                background: url('../img/title_bg1_m.jpg')no-repeat center top;
                background-size: auto 100%;
            }

            &.infor_top {
                background: url('../img/title_bg2_m.jpg')no-repeat center top;
                background-size: auto 100%;
            }

            &.users_top {
                background: url('../img/title_bg3_m.jpg')no-repeat center top;
                background-size: auto 100%;
            }
        }

        .bnInfo {
            margin: 30px 0;
            padding-top: 33px;
            padding-bottom: 0;

            @include media-breakpoint-down(sm) {
                padding-top: 2vw;

                h1 {
                    margin-bottom: 0;
                }
            }

            &:before {
                margin-top: 0;
                height: 140px;
                margin-left: calc(50% - 220px);
            }

            &:after {
                top: 0;
                height: 140px;
                margin-right: calc(50% - 220px);
            }

            p {
                margin-bottom: 5em;
                font-size: 24px;
                font-weight: 100;

                @include media-breakpoint-down(sm) {
                    margin-bottom: 2em;
                }
            }
        }
    }
}

.marquee {
    width: 100%;
    background-color: $green;
    padding-top: 1rem;
    line-height: 1;

    .marquee_txt {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    .marquee_txt p {
        width: auto;
        display: inline-block;
        padding-left: 100%;
        // animation: marquee 20s linear infinite;
        line-height: 1;
        margin-bottom: 1rem;

        a {
            margin-right: 1.5em;
        }
    }

    @keyframes marquee {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-100%, 0);
        }
    }
}

#mainArea {
    position: relative;
    z-index: 1;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(lg) {
        width: 100%;
        padding: 20px;
    }

    @include media-breakpoint-down(sm) {
        padding: 0;
    }

    &.pageIndex {
        width: 100%;
        height: 100vh;
        padding: 0;

        // transform: translateY(100vh); // 藏在畫面下方
        // opacity: 0;
    }

    &.pageIn {
        margin-top: 50px;
        margin-bottom: 50px;
        @include clearfix();

        @include media-breakpoint-down(lg) {
            margin-top: 0;

            .pdList {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        @include media-breakpoint-down(sm) {
            padding-left: 10px;
            padding-right: 10px;

            .pdList {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    &.pageInfo {
        width: 810px;
        margin-top: 110px;

        @include media-breakpoint-down(lg) {
            width: 100%;
            padding: 20px;
            margin-top: $header_height_m;
        }

        @include media-breakpoint-down(sm) {
            padding: 15px;
        }
    }

    &.pageCenter {
        @include media-breakpoint-up(lg) {
            width: 810px;
        }

        p,
        ol li,
        ul li {
            font-size: 12px !important;
        }

        .mdTitle {
            margin-bottom: 2em;
        }
    }

    @include clearfix();
}

#sliderBN {
    .tab-content {
        padding: 0 100px;

        @include media-breakpoint-down(md) {
            padding: 0 20px;
        }

        @include media-breakpoint-down(sm) {
            padding: 0;
        }
    }

    ul.nav {
        justify-content: center;

        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            background-color: transparent;
        }
    }
}

//footer
footer {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: right;
    color: $text_color;
    font-size: small;
    // border: 1px solid #f00;
    opacity: .5;

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

//page intor
.pageIn {
    @include clearfix();
}

.breadcrumb {
    font-size: 14px;
    padding: 0;

    ol {
        display: flex;

        li {
            a {
                color: $gray-400;
            }

            &:after {
                content: "/";
                display: inline-block;
                margin: 0 .6em;
                color: $gray-400;
            }

            &:last-child {
                a {
                    color: $gray-900;
                    cursor: default;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &:after {
                    display: none;
                }
            }
        }
    }
}

.infoTitle {
    background-color: $gray-900;
    margin-bottom: 40px;
    padding: .8em 20px;
    color: $text_color;
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    @include media-breakpoint-down(sm) {
        margin-bottom: 5%;
    }

    .items_qty {
        flex-basis: 65%;

        @include media-breakpoint-down(sm) {
            display: none;
        }

        a {
            margin: 0 5px;
        }
    }

    a {
        display: inline-block;
        color: $text_color;

        &:hover {
            color: $pink;
        }
    }

    // select {
    //     background-color: transparent;
    //     color: $white;
    //     font-size: 14px;
    //     border: 1px solid $white;
    //     background: url("https://photo.polylulu.com.tw/i_down_select_w.svg") no-repeat right 50%;
    //     padding: 0 2rem 0 .75rem !important;
    //     option {
    //         color: $gray-800;
    //         line-height: 2;
    //         font-size: 12px;
    //     }
    // }
}

.pagination {
    justify-content: center;
    margin: 2em 0;

    @include media-breakpoint-down(sm) {
        // border-top: 1px solid $gray-200;
        margin: 0;
        padding: 1em 0;
    }

    .page-item {
        margin: 0 .5em;

        @include media-breakpoint-down(sm) {
            margin: 0 .3em;
        }

        a {
            color: $gray-600;
            @include tran(.3s,
                ease);
        }

        &.active {
            a {
                text-align: center;
                font-weight: bold;
                color: $gray-900;
                background-color: transparent;
                @include border-radius(50px);
            }
        }

        &:hover {
            a {
                @include border-radius(50px);
                color: $gray-800;
                background-color: transparent;
            }
        }
    }

    .page_prev {
        font-size: 12px;

        i {
            @include rotate(-90);
        }
    }

    .page_next {
        font-size: 12px;

        i {
            @include rotate(90);
        }
    }

    .page-link {
        border: 0;

        span {
            margin: .2em;

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
}

//fixed sidebar---------------
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

//---------------
.white-popup-block {
    max-width: 750px;

    .btnClose {
        display: none;

        @include media-breakpoint-down(sm) {
            display: block;
        }
    }

    fieldset {
        width: 100%;

        p {
            text-align: center;
        }

        small {
            display: block;
            line-height: 1.3;
            color: $gray-600;
        }
    }
}

.flex_bg {
    flex-grow: 1;
}

.form_center {
    width: 400px;
    margin: 40px auto;

    @include media-breakpoint-down(sm) {
        width: 100%;
        padding: 0 15px;
    }

    img {
        width: 60% !important;
        margin-top: -3px;
    }
}

//---------
@keyframes indexUp {
    0% {
        transform: translateY(0);
        // opacity: 1;
        filter: blur(0);
    }

    100% {
        transform: translateY(-120vh);
        // opacity: 0;
        filter: blur(10px);
    }
}


@keyframes pageUp {
    0% {
        // transform: translateY(10vh);
        margin-top: 100vh;
        opacity: .5;
    }

    100% {
        // transform: translateY(0);
        margin-top: 0;
        opacity: 1;
    }
}

.z_index_up {
    position: fixed;
    top: 0;
    // z-index: -1;
    // margin-top: 50vh;// top: -100vh;
    // filter: blur(10px);
    // z-index: -1;
    // margin-top: -100vh;
    // display: none;
    // @include animation (0, 12s, indexUp, forwards, unset, 1);
    animation: indexUp .4s ease-in-out forwards;
    // @include animation (0, .2s, fadeOut, forwards, unset, 1);
}



.z_page_up {
    position: fixed;
    top: 0;
    // @include animation (0, .5s, pageUp, forwards, unset, 1);
    animation: pageUp .4s ease-in-out forwards;
}