.pageLogin {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    .basicTitle {
        margin-bottom: 40px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }
    }
    .bigIcon {
        font-size: 5rem;
        line-height: 1;
        text-align: center;
        margin-bottom: 20px;
        u {
            line-height: 1;
        }
    }
    p {
        // text-align: center;
        font-size: 14px;
    }
    &>section {
        width: 50%;
        // padding: 0 25%;
        @include media-breakpoint-up(xl) {
            padding: 40px 11%;
        }
        @include media-breakpoint-down(xl) {
            padding: 40px 8%;
        }
        &:first-child {
            &:after {
                content: "";
                position: absolute;
                top: 40%;
                left: 50%;
                display: block;
                width: 1px;
                height: 100px;
                background-color: $gray-400;
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }
    }
    @include media-breakpoint-only(lg) {
        padding-top: 80px;
    }
    @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: center;
        &>section {
            width: 65%;
            padding: 50px 10%;
        }
    }
    @include media-breakpoint-down(sm) {
        &>section {
            width: 100%;
            padding: 50px 15px;
        }
    }
    .form-row,
    .form-group {
        font-size: 14px;
        align-items: center;
        line-height: 1;
        label,
        .col-form-label {
            font-size: 14px;
            line-height: 2.3;
        }
        .custom-control {
            padding-left: 30px;
        }
    }
    .or {
        position: relative;
        width: 100%;
        text-align: center;
        span {
            width: 2.5em;
            display: inline-block;
            background-color: $gray-100;
        }
        &:before {
            position: absolute;
            top: 1em;
            left: 25%;
            z-index: -1;
            content: "";
            width: 50%;
            height: 1px;
            // background-color: $gray-600;
            border-bottom: 1px solid $gray-400;
            display: block;
        }
    }
}

.im_r {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    color: $gray-600;
    img {
        width: 70%;
        height: auto;
        display: inline-block;
    }
}

.form_icon {
    display: inline-block;
    font-size: 24px;
    color: $gray-600;
    margin-left: .2em;
    &:hover {
        color: $gray-900;
    }
}