.areaPAGE {
    display: none;
    position: fixed;
    z-index: 5;
    bottom: 0;
    overflow: auto;
    scrollbar-width: thin;
    -ms-overflow-style: none;

    /* Firefox 滾動條樣式 */
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent;

    /* 隱藏 IE 的 scrollbar */
    -ms-overflow-style: none;

    /* Chrome/Safari */
    &::-webkit-scrollbar {
        width: 8px;
        background: transparent; // 這是 scrollbar 整體底層
    }

    &::-webkit-scrollbar-track {
        background: transparent; // 軌道要設透明才會沒底色
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4); // 這是滑動條
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.6); // hover 狀態
    }

    // color: $white;
    width: calc(100% - 80px);
    // min-height: 100vh;
    height: calc(100vh - 82px);
    // bottom: -82px;

    // margin-top: 151px;
    // border: 1px solid #f00;

    // @include clearfix();
    @include media-breakpoint-down(lg) {
        padding-top: 0;
        width: calc(100% - 5px);
        height: calc(100vh - 59px);
        // bottom: -59px;
    }

    @include media-breakpoint-down(md) {
        padding-top: 0;
        height: calc(100vh - 58px);
        // bottom: -64px;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 0;
        height: calc(100vh - 60px);
        // bottom: -64px;
    }

    .pageName {
        position: fixed;
        z-index: 9999;
        right: 0;
        bottom: -75px;
        // margin-bottom: 50vh;
        // margin-right: -45vh;
        padding-right: 56px;
        width: 100vh;
        text-align: right;
        vertical-align: baseline;
        font-size: 70px;
        line-height: 1;
        font-weight: bold;
        border-bottom: 1px solid $line_color;
        mix-blend-mode: overlay;
        opacity: .65;
        font-family: Arial, Helvetica, sans-serif;
        @include rotate (90);
        transform-origin: right top;
        opacity: .7;

        // background-color: #fff;
        small {
            font-size: 40px;
            font-weight: normal;
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    .pageSS {
        position: fixed;
        z-index: 9999;
        top: -86px;
        left: 0;
        // margin-top: 50vh;
        // margin-left: -40vh;
        padding: 40px;
        width: 100vh;
        height: 145px;
        // mix-blend-mode: overlay;
        mix-blend-mode: hard-light;
        // filter: brightness(1.2);
        // opacity: .45;
        font-family: Arial, Helvetica, sans-serif;
        @include rotate (90);
        // @include transform-origin (0, 0);
        transform-origin: left bottom;
        border-top: 1px solid $line_color;
        filter: hue-rotate(130deg);

        span {
            width: 100%;
            height: 100%;
            line-height: 1.3;
            font-size: 26px;
            opacity: .55;

        }

        @include media-breakpoint-down(lg) {
            display: none;
        }

        &:before {
            position: absolute;
            content: "";
            width: 100vh;
            height: 1px;
            border-top: 1px #fff;
            display: block;
        }
    }

    &#page04 {

        // h3,
        // p,
        // ul,
        // li,
        // a,
        // div {
        //     color: #b17ea0;
        // }

        // .pageName,
        // .pageSS {
        //     border-color: #be9cb2;
        // }

        // h3 {
        //     &:after {
        //         border-color: #cbb1c2;
        //     }
        // }

        .row {
            margin-top: 3rem;
            padding: 0 20px;

            @include media-breakpoint-down(lg) {
                padding: 0 10px;

            }

            &>div {
                text-align: center;
                padding: 20px;

                &>figure {
                    position: relative;
                    background-color: #f1eff1;
                    border:1px solid #ddd7e6;
                    width: 240px;
                    height: 240px;
                    margin: 0 auto;
                    overflow: hidden;
                    cursor: pointer;
                    @include border-radius(50%);
                    @include tran(0.2s, ease);

                    figcaption {
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        text-align: center;
                        margin-top: 0;
                        margin-bottom: 40px;
                        padding-top: 45%;

                        // border: 1px solid #f00;
                        &::after {
                            display: none;
                            position: absolute;
                            top: 0;
                            content: "";
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                            background-color: rgba($color: $black, $alpha: .5);
                            @include border-radius(50%);
                        }
                    }

                    img {
                        position: absolute;
                        max-width: 100%;
                        top: 0;
                        left: 0;
                    }

                    &:hover {
                        figcaption {
                            opacity: 1;
                            color: $white;
                            @include animation (0, 0.5s, fadeIn, forwards, unset, 1);

                            &:after {
                                display: block;
                                color: $white;
                            }
                        }

                        img {
                            filter: blur(4px);
                        }
                    }

                    @include media-breakpoint-down(lg) {
                        width: 200px;
                        height: 200px;
                    }

                }

                &>h5 {
                    display: none;

                    @include media-breakpoint-down(sm) {
                        display: block;
                        margin-top: 1em;

                    }
                }
            }
        }

        article {
            padding: 0 10%;
            padding-left: calc( 10% + 80px);
            @include media-breakpoint-down(lg){
                padding-left: 10%;

            }
        }
    }
}

.pageBg {
    position: absolute;
    z-index: 1;
    // top: -71px;
    left: 0;
    width: 100%;
    height: 100vh;
    // filter: blur(5px);
    mix-blend-mode: darken;

    // border: 1px solid #f00;
    @include media-breakpoint-down(sm) {
        top: 0;
        height: calc(100% + 60px);
    }
}

.page01 {
    background: url('../img/bg_01.jpg') no-repeat center bottom;
    background-size: 100% 100%;
    background-attachment: fixed;


}

.page02 {
    background: url('../img/bg_02.jpg') no-repeat center bottom;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.page03 {
    background: url('../img/bg_03.jpg') no-repeat center bottom;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.page04 {
    background: url('../img/bg_04.jpg') no-repeat center bottom;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.page05 {
    background: url('../img/bg_05.jpg') no-repeat center bottom;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.page01,
.page02,
.page03,
.page04,
.page05 {


    @include media-breakpoint-down(md) {
        background-position: right bottom;
        background-size: auto 100%;
    }
}

.inin {
    width: 100%;
    position: absolute;
}

//about event///////////////////
//slider
#sliderCon {
    position: relative;
    // top: 15vh;
    z-index: 99;
    width: 100%;
    // height: auto;
    // border: 1px solid #f00;

    height: 85vh;

    // overflow: scroll;
    // min-height: 60vh;
    // margin: 8vh auto;
    // overflow-y: scroll;
    // min-height: 100vh;
    @include media-breakpoint-down(lg) {
        // height: 233px;
        margin: 0 auto;
    }

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {
        // width: 100%;
        // overflow-y: scroll;
        // min-height: 60vh;
    }
}

.slider {
    position: absolute;
    top: 0;
    // left: calc(50% - 320px);
    width: 100%;
    padding-left: 5%;

    // &#pageBOX05 {
    //     padding-left: 0;
    // }

    @include media-breakpoint-down(lg) {
        padding-left: 0;
    }

    .slick-track>div {
        padding: 0 5px;
    }

    &>figure {
        text-align: center;
        display: block;
        background-color: transparent;
        margin: 15vh auto;
        padding: 0 10%;
        padding-left: calc(10% + 80px);
        // border: 1px solid #f00;
        color: $text_color;
        @include media-breakpoint-down(lg){
            padding-left: 10%;

        }

        &:first-child {
            margin-top: 4vh;
        }

        h2 {
            font-size: 24px;

            &:after {
                content: "";
                width: 1.5em;
                height: 2px;
                // border-bottom: 1px solid $line_color;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: .5em;
                margin-bottom: .5em;

                opacity: .5;

                @include media-breakpoint-down(sm) {
                    margin-top: .5em;
                    margin-bottom: .5em;
                }
            }
        }

        @include media-breakpoint-down(lg) {
            margin: 15vw auto;

            &:first-child {
                margin-top: 10vw;
            }

        }

        @include media-breakpoint-down(sm) {
            margin: 0;
            margin: 25vw auto;
            padding: 0 3vw;

            &:first-child {
                margin-top: 18vw;
            }

            .btn {
                font-size: 14px;
                width: 80%;
                border: 1px solid $text_color;
                padding: .5em 2em;
                color: $text_color;
            }
        }
    }

    &#pageBOX01 {
        figure h2:after {
            background-color: $color_1;
        }
    }

    &#pageBOX02 {
        figure h2:after {
            background-color: $color_2;
        }
    }

    &#pageBOX03 {
        figure h2:after {
            background-color: $color_3;
        }
    }

    &#pageBOX04 {
        figure h2:after {
            background-color: $color_4;
        }
    }

    &#pageBOX05 {
        figure h2:after {
            background-color: $color_5;
        }
    }

    figcaption {
        width: 100%;
        // overflow: hidden;
        display: block;
        text-align: center;
        margin-top: 10px;
        // margin-bottom: 15%;
        line-height: 1.5em;

        h2 {
            font-size: 28px;
            color: $gray-800;
        }

        p {
            padding-top: .5em;
            font-size: 14px;
            opacity: .75;

            span {
                display: inline-block;
                line-height: 1.8;
                margin: 0 .5em;

                &:before {
                    content: "#";
                }
            }
        }

        @media (max-width: 1367px) {
            font-size: 18px;
        }
    }

    .sliderIMG {
        height: 500px;
        margin-bottom: 20px;

        img {
            text-align: center;
            height: 100%;
            margin: 0 auto;
            // border: 2px solid $gray-100;
            // @include border-radius(50%);
        }

        @include media-breakpoint-down(lg) {
            height: 40vh;
        }

        @include media-breakpoint-down(sm) {
            width: 90%;
            height: auto;
            margin: 5vw auto;

            img {
                width: 100%;
                height: auto;
                margin: 0;
            }
        }
    }

    article {
        margin: 3rem auto 5rem auto;
    }

    @include media-breakpoint-down(lg) {

        // width: 80%;
        // left: calc(50% - 310px);
        .slick-track>div {
            padding: 0 5px;
        }

        a {
            margin: 0 10px;
        }
    }

    @include media-breakpoint-down(md) {

        // left: calc(50% - 285px);
        .slick-track>div {
            padding: 0 5px;
        }
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        // position: inherit;
        left: inherit;
    }

    .slick-arrow {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 75px;
        height: 200px;
        margin-top: 50vh;

        // @include border-radius(50px);
        // padding-top: 2px;
        @include media-breakpoint-down(sm) {
            position: absolute;
            width: 15vw;
            margin-top: 78vw;
            // border: 1px solid #f00;
        }
    }

    .slick-next {
        right: 3%;
    }

    .slick-prev {
        left: 3%;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 50px;
        line-height: 0;
        display: block;
        // @include border-radius(50px);
    }

    .slick-prev:before {
        content: "";
        // border: 1px solid #f00;
        width: 100%;
        height: 27px;
        background: url('../img/prve.png') no-repeat left bottom;

        @include media-breakpoint-down(sm) {
            background-size: 100% auto;
        }
    }

    .slick-next:before {
        content: "";
        // border: 1px solid #f00;
        width: 100%;
        height: 27px;
        background: url('../img/next.png') no-repeat right bottom;

        @include media-breakpoint-down(sm) {
            background-size: 100% auto;
        }
    }
}

@include keyframe (downMove) {
    0% {
        top: 5px;
    }

    50% {
        top: 1px;
    }

    100% {
        top: 5px;
    }
}

.arrow_down {
    position: absolute;
    left: calc(50% - 20px);
    z-index: 777;
    width: 40px;
    height: 40px;
    display: block;
    margin-top: -20px;
    padding-top: 5px;
    background-color: $gray-400;
    color: $text_color;
    font-weight: bold;
    text-align: center;
    @include border-radius(50px);

    u {
        position: absolute;
        left: 12px;
        top: 3px;
        @include animation (0s,
            .7s,
            downMove,
            normal,
            normal,
            infinite);
    }
}

#pageBOX05 {
    .container {
        margin-top: 0;
    }
}

article.areaAbout {
    // overflow: hidden;
    position: relative;
    margin-top: 0 !important;
    padding: 0 10%;
    padding-left: calc(10% + 80px);
    @include media-breakpoint-down(lg){
        padding-left: 10%;

    }
    // border: 1px solid red;
    // @include media-breakpoint-down(lg){
    //     padding-top: 50px;
    // }

    aside {
        position: fixed;
        top: 116px;
        width: 26%;


        // border: 1px solid red;
        @include media-breakpoint-down(lg) {
            top: 116px;
            // width: 30%;
            min-width: 250px;
        }

        @include media-breakpoint-down(xs) {
            position: inherit;
            top: 50px;
            width: 100%;
            margin-bottom: 5em;
        }

        h4 {
            padding-left: 0;
            margin-left: -1.5em;
        }

        &>figure {
            width: 100%;
            height: 100%;
            // background-color: #9D6D8D;
            // background: url('../img/myphoto.jpg') no-repeat right bottom;
            // background-size: 100% auto;

            img {
                width: 100%;
                height: auto;
                display: inline-block;
            }

            figcaption {
                display: flex;
                padding-left: 2%;

                .qrcode {
                    border-radius: 10px;
                    width: 76px;

                    img {
                        width: 100%;
                    }
                }

                .pp_info {
                    text-align: center;
                    margin-left: 5%;

                    h4 {
                        font-size: 18px;
                        color: $gray-800;
                    }

                    a {
                        width: 100%;
                        display: block;
                        // padding-left: 2em;
                        text-align: left;
                        font-size: 14px;
                        line-height: 1.2;
                    }

                }

                @include media-breakpoint-down(md) {
                    padding-left: 0;

                    .qrcode {
                        border-radius: 10px;
                        width: 64px;
                    }

                    .pp_info {
                        h4 {
                            font-size: 16px;
                        }

                        a {
                            font-size: 12px;
                        }
                    }


                }
            }

            // @include media-breakpoint-down(sm) {
            //     height: 60vw;
            //     // margin-top: -9vw;
            // }
        }

    }

    .about_detail {

        // margin-top: -50vw;
        margin-left: 48%;
        margin-bottom: 8%;

        .aboutText {
            line-height: 3.7;
        }


        h3 {
            color: $gray-800;
            text-align: left;
            margin-bottom: 0;
            line-height: 1;
        }

        h5 {
            color: $gray-800;
            font-size: 22px;
            font-weight: bold;
        }

        h6 {
            color: #65409d;
            opacity: .7;
            font-size: 16px;
            line-height: 3;

        }

        @include media-breakpoint-down(xl) {
            // margin-top: -10%;
            // margin-top: -30vw;

            .aboutText {
                line-height: 3.1;
            }

            h3 {
                font-size: 37px;
            }
        }

        @include media-breakpoint-down(lg) {
            margin-top: 60px;
            // margin-top: -620px;
            margin-left: 42%;

            .aboutText {
                line-height: 2.8;
            }

            h3 {
                font-size: 37px;
            }
        }

        @include media-breakpoint-down(md) {
            // margin-top: -10%;
            // margin-top: -460px;
            margin-left: 310px;

            .aboutText {
                font-size: 14px;
                line-height: 2.7;
            }

            h3 {
                font-size: 32px;
            }

            h5 {
                font-size: 18px;
            }

            h6 {
                font-size: 15px;
            }
        }

        @include media-breakpoint-only(sm) {
            .aboutText {
                font-size: 12px;
            }
        }

        @include media-breakpoint-down(xs) {
            margin-top: 0 !important;
            margin-left: 0;
            padding: 0 10px;

            .aboutText {
                font-size: 16px;
                line-height: 1.5;
            }
        }

        .infoBox {
            margin-top: 80px;

            &.info_skills {
                &>figure {
                    display: flex;
                    margin-bottom: 3em;


                    &>div {
                        padding-top: 20px;

                        img {
                            max-width: 100%;
                        }
                    }

                    figcaption {
                        padding-left: 2em;
                        text-align: left !important;

                        p {
                            color: #65409d;
                            opacity: .7;
                            margin-bottom: 1em;

                        }

                        li {
                            font-size: 14px;
                        }
                    }

                    @include media-breakpoint-only(sm) {
                        flex-direction: column;

                        figcaption {
                            padding-left: 0;
                        }
                    }
                }
            }

            &.info_experience {
                .infoItem {
                    display: flex;
                    margin-bottom: 3em;

                }

                .info_year {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    &>span {
                        font-size: 18px;
                        font-weight: 600;
                        color: $gray-800;
                    }

                    &>i {
                        width: 1px;
                        height: 100%;
                        flex-grow: 1;
                        background-color: $gray-800;
                    }

                }

                .info_work {
                    margin-left: 2em;

                }

                ol {
                    list-style-type: auto;

                    li {
                        font-size: 14px;
                        margin-left: 1em;
                    }
                }

                small {
                    padding-top: 1em;
                    color: darken($color: $color_5, $amount: 20%);
                    opacity: .4;
                }
            }
        }
    }



    .aboutBox {
        h4 {
            margin-bottom: 1em;
        }

        p {
            margin: 1em 0;
        }

        a {
            display: inline-block;
            height: 1.5em;
            margin-left: 0;
        }

        .icon {
            display: inline-block;
            margin: 0;
            margin-right: .35rem;
            margin-bottom: .5em;
            // height: 1em;
            line-height: 2;
            width: 2.3em;
            height: 2.3em;
            text-align: center;
            border: 1px solid $white;
            @include border-radius(50px);
        }




    }
}